<ion-header>
  <div class="header d-flex align-items-center">
    <div class="user-img mr-2">
      <ion-img src="{{img}}1"></ion-img>
    </div>
    <ion-label class="user-name">Lorem.ipsum.54</ion-label>
  </div>
</ion-header>
<ion-content>
  <div class="content" (click)="doubleClick(index)">
    <ion-img src="{{img}}"></ion-img>
    <div class="doubleClick" id="doubleClick{{index}}" (click)="ClickLike(index)">
      <ion-icon name="heart" class="boublelike" id="ClickLike{{index}}"></ion-icon>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="modal-footer d-flex justify-content-between align-items-center">
    <ion-icon name="heart-outline" class="mr-3" id="heart-outline{{index}}" (click)="addLike(index)"></ion-icon>
    <ion-icon name="heart" class="mr-3 like" id="heart{{index}}" (click)="removeLike(index)"></ion-icon>
    <ion-icon name="person-circle-outline"></ion-icon>
    <ion-icon name="navigate-outline"></ion-icon>
    <ion-icon name="ellipsis-vertical"></ion-icon> 
  </div>
</ion-footer>