<ion-content>
  <div class="content">
    <span class="heandler"></span>
    <div class="d-flex align-items-center mb-3">
      <div class="profile-img">
        <ion-img src="assets/image/aman-img.jpg"></ion-img>
      </div>
      <span class="userName">aman.khalyani.54</span>
    </div>
    <div class="d-flex align-items-center">
      <div class="profile-img d-flex align-items-center justify-content-center">
        <ion-icon name="add"></ion-icon>
      </div>
      <span class="userName">Add Account</span>
    </div>
  </div>
</ion-content>